<div class="form-container">
  <div class="logo-title-container">
    <h1>Sign up</h1>
    <div class="icon-container">
      <%= image_tag "logo-blue.png", alt: "Logo" %>
    </div>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions btn-container">
      <%= f.button :submit, "Sign up", class: "button-primary" %>
      <%= render "devise/shared/links", class: "button-secondary" %>
    </div>
  <% end %>


</div>
