<div class="new-booking form-container">
  <div class="logo-title-container">
  <h1>Create Booking</h1>
    <div class="icon-container">
      <%= image_tag "logo-blue.png", alt: "Logo" %>
    </div>
  </div>

  <%= simple_form_for(@booking, url: planet_bookings_path) do |f| %>
    <%= f.input :date_start, as: :date, html5: true  %>
    <%= f.input :date_end, as: :date, html5: true %>
    <%= f.input :comment %>
      <div class="form-actions btn-container">
        <%= f.button :submit, "create booking", class: "button-primary" %>
      </div>
  <% end %>
</div>
