<div>
  <div class="container-top-btn">
        <div>
    <%= link_to "/planets" do %>
        <i class="fa-solid fa-chevron-left button-round"></i>
      <% end %></div>
  </div>
  <img src="<%= @planet.image_url %>", alt="planet-image", class="show-img">
</div>

<div class="info-container">
  <div class="title-container">
    <h1> <%= @planet.name %></h1>
  </div>
  <div class="rating-price-container">
    <h3><%="⭐" * @planet.rating %></h3>
    <p>£ <%= @planet.price %></p>
  </div>
</div>




<div class="container-offers">
  <div>
    <hr>
      <p><%= @planet.description%></p>
    <hr>
  </div>
  <div class = "title">
    <h3>What this planet offers</h3>
  </div>
<div class="icons">
  <div class = "pop">
    <i class="fa-solid fa-people-group"></i>
    <p><%= @planet.population %> people</p>
  </div>
  <div class = "size">
      <i class="fa-solid fa-ruler-horizontal"></i>
      <p><%= @planet.size %> km/diameter</p>
  </div>
</div>
<hr>
<div class = "container-price">
  <div class="title">
    <h3>Price per night</h3>
  </div>
  <p>£ <%= @planet.price %></p>
</div>

  <div class="booking-container">
    <h2>Your Bookings</h2>
   <hr>
    <div class="booking-list">
      <% @planet.bookings.each do |booking|%>
        <p><%= booking.comment %>: <%= booking.date_start.strftime("%A, %b %d") %> - <%= booking.date_end.strftime("%A, %b %d") %></p>
      <% end%>
    </div>
   <hr>
  </div>

  <div class="btn-container">
    <%= link_to "Book now", new_planet_booking_path(@planet), class: "button-primary" %>
  </div>

  <div class="btn-container">
    <%= link_to "Delete Planet", planet_path(@planet), data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?'}, class: "button-delete" %>
  </div>
</div>

</div>
