<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap Utility Classes</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>
<%# Now we need the top banner, title and symbol %>

    <!-- navbar -->
    <%# now we do the pic %>
    <div class="header-container d-flex align-items-center">
     <div class="image-container">
         <%= image_tag "logo-red.png", style:"width:80px", alt: "logo-image"  %>
      </div>
              <!-- Now we do the title -->
      <div class="title-container">
        <h1> <%= @planet.name %></h1>
      </div>
    </div>
    <!-- /navbar -->
<%# Now lets do the image %>
<div class = "container">
  <div class="image-container">
    <%= image_tag "planet.jpg", alt: "planet-image", class: "image-head" %>
  </div>
</div>


    <h1> <%= @planet.name %></h1>

    <p><%= @planet.description %></p>
    <p><%= @planet.size %></p>
    <p><%= @planet.population %></p>
    <p><%= @planet.rating %></p>
    <p><%= @planet.price %></p>
  </div>
</div>
