<div class="show-page container">
  <div class="container-top-btn">
    <div class="fa-solid fa-chevron-left button-round"></div>
  </div>
  <%= image_tag "planet.jpg", alt: "planet-image", class: "show-img" %>

  <div class="show-container">


    <h1> <%= @planet.name %></h1>

    <p><%= @planet.description %></p>
    <p><%= @planet.size %></p>
    <p><%= @planet.population %></p>
    <p><%= @planet.rating %></p>
    <p><%= @planet.price %></p>
  </div>
</div>
