    <!-- navbar -->
    <%# now we do the pic %>
              <!-- Now we do the title -->


    <!-- /navbar -->
<%# Now lets do the image %>
<div class = "container">
  <div class="container-top-btn">
        <div>
    <%= link_to "/planets" do %>
        <i class="fa-solid fa-chevron-left button-round"></i>
      <% end %></div>
  </div>
  <%= image_tag "pexels.jpg", alt: "planet-image", class: "show-img" %>
</div>

<div class = "container-description">



  <div class = "info-container">
    <div class="title-container">
      <h1> <%= @planet.name %></h1>
    </div>
    <h3><%="⭐" * @planet.rating %></h3>
    <p>£ <%= @planet.price %></p>
  </div>

  <div class="content">
    <p><%= @planet.description%></p>
  </div>
    <hr>
</div>
<div class = "container-offers">
  <div class = "title">
    <h3>What this planet offers</h3>
  </div>
<div class="icons">
  <div class = "pop">
    <i class="fa-solid fa-people-group"></i>
    <p><%= @planet.population %> people</p>
  </div>
  <div class = "size">
      <i class="fa-solid fa-ruler-horizontal"></i>
      <p><%= @planet.size %> km/diameter</p>
  </div>
</div>
<hr>
<div class = "container-price">
  <div class = "title">
    <h3>Price per night</h3>
  </div>
  <p>£ <%= @planet.price %></p>
</div>

  <div class="btn-container">
    <%= link_to "Book now", new_planet_booking_path(@planet), class: "button-primary" %>
  </div>

  <div class="booking-list">
    <% @planet.bookings.each do |booking|%>
      <p><%= booking.comment %>: <%= booking.date_start %> - <%= booking.date_end %></p>
    <% end%>
  </div>
</div>

</div>
