<div class="show-page container">
  <div class="container-top-btn">
    <div class="fa-solid fa-chevron-left button-round"></div>
  </div>
  <%= image_tag "planet.jpg", alt: "planet-image", class: "show-img" %>

  <div class="show-container">

  <p><%= @planet.description %></p>
  <p><%= @planet.size %></p>
  <p><%= @planet.population %></p>
  <p><%= @planet.rating %></p>
  <p><%= @planet.price %></p>

  <div class="btn-container">
    <%= link_to "Book now", new_planet_booking_path(@planet), class: "button-primary" %>
  </div>
</div>

  <% @planet.bookings.each do |booking|%>
    <p><%= booking.date_start %></p>
    <p><%= booking.date_end %></p>
    <p><%= booking.comment %></p>
  <% end%>
</div>
