  <h2> <%= @planet.name %></h2>
  <%# <img src= @planet.image_url alt="planetpic"> %>
  <p><%= @planet.description %></p>
  <p><%= @planet.size %></p>
  <p><%= @planet.population %></p>
  <p><%= @planet.rating %></p>
  <p><%= @planet.price %></p>
