<!DOCTYPE html>
<html>
  <head>
    <title>No-Airbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('logo-blue.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <!--div class="alert"><%= notice %></div>
  <p class="alert"><%= alert %></p> -->
    <%= yield %>

    <div class="navbar-lewagon">
      <%= link_to "/" do %>
        <i class="fa-2x fa-solid fa-house"></i>
      <% end %>
      <%= link_to "/planets" do %>
        <i class="fa-2x fa-solid fa-earth-americas"></i>
      <% end %>
      <%= link_to "/planets/new" do %>
        <i class="fa-2x fa-solid fa-square-plus"></i>
      <% end %>
      <%= link_to "/users/edit" do %>
        <i class="fa-2x fa-solid fa-user"></i>
      <% end %>
    </div>
  </body>
</html>

<script>
  function hideLoadingDiv() {
    setTimeout(function(){
      document.getElementById('add-planet').classList.add('notice-hidden');
    },1000)
  }
</script>
